@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-text: #171717;
  --color-text-secondary: #ffffff; /* gray-600 */
  /* Add more variables as needed */
}

/* * {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
} */

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-text: #ededed;
  --color-text-secondary: #0a0a0a;
  /* Add more variables as needed */
}

html {
  scroll-behavior: smooth;
  /* Hide scrollbars for all browsers */
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Roboto Mono", monospace !important;
}

p {
  font-family: "Roboto Mono", monospace !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0ms !important;
}

a {
  font-family: "Roboto Mono", monospace !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0ms !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0ms !important;
  font-family: "League Spartan", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
